<?xml version="1.0" encoding="UTF-8"?>
	<web-app>
		<servlet>
			<description>
			</description>
			<display-name>Test</display-name>
			<servlet-name>Test</servlet-name>
			<servlet-class>com.unique.main.Test</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>Test1</display-name>
			<servlet-name>Test1</servlet-name>
			<servlet-class>com.unique.main.Test1</servlet-class>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>Test2</display-name>
			<servlet-name>Test2</servlet-name>
			<servlet-class>com.unique.main.Test2</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>Test</servlet-name>
			<url-pattern>/Test</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Test1</servlet-name>
			<url-pattern>/Test1</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>Test2</servlet-name>
			<url-pattern>/Test2</url-pattern>
		</servlet-mapping>
		
	</web-app>